@model Hobby
<p><a href="/Dashboard">Dashboard</a> | <a href="/logout">Logout</a></p>
<h1 style="margin-bottom: 50px;">@Model.Name</h1>
<p>Description: @Model.Description</p>

<p>@Model.Name Enthusiasts: </p>
    @{ 
        foreach (var e in Model.UserHobby)
        {
        <ul style="margin-bottom: 50px; margin-top:20px">
            <li>@e.User.FName @e.User.LName</li> 
        </ul>
        }
    
    }

@{

if (!Model.UserHobby.Any( a => a.UserId == ViewBag.UserID))
    {
        <a href="/enthusiast/@Model.HobbyId"><button class="btn btn-dark">Add to Hoppies</button></a>
    }
                       
}


@{
    if(Model.UserId == ViewBag.UserID)
    {
        <a href="/edit/@Model.HobbyId"><button class="btn btn-dark">Edit</button></a>

    }
}
                